@{
    ViewData["Title"] = "Вход";
}
@model Trainer.DAL.Entities.User
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post" asp-controller="Account" asp-action="Login">
                <h3>Войти</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName">Логин</label>
                    <input asp-for="UserName" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">Запомнить меня</label>
                        <input asp-for="RememberMe" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-1">Войти</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Войти с помощью сторонних сайтов</h3>
            <hr />
            <div>
                <span>Ещё не добавлено</span>
            </div>
        </section>
    </div>
</div>